<div class="va-angular-list container">
    <div class="row">
        <div ng-repeat="(key, field) in fields track by $index">
            <div class="col"><h5>{{ field | nameCase }}</h5></div>
            <input ng-model="dynamicModels[field]" ng-change="Search()" type="text" placeholder="{{ field | nameCase }}">
        </div>
    </div>
    <div class="row" ng-repeat="(key2, item) in virtualListPagination track by $index">
        <div ng-repeat="field in fields track by $index">
            <div class="col">{{ item[field] }}</div>
        </div>
    </div>

    <!-- Buttons -->
    <div ng-show="virtualListTemp.length > paginationPerPage">
        <button ng-click="PaginationDown()">Back</button>
        <span>
            <span ng-bind="paginationCurrent"></span>
            <span> / </span>
            <span ng-bind="paginationTotal"></span>
        </span>
        <button ng-click="PaginationUp()">Next</button>
    </div>
    <!-- Buttons END -->
</div>